[submodule "deps/JUCE"]
	path = deps/JUCE
	url = https://github.com/juce-framework/JUCE

[submodule "deps/NeuralAmpModelerCore"]
		path = deps/NeuralAmpModelerCore
		url = https://github.com/sdatkinson/NeuralAmpModelerCore

[submodule "deps/AudioDSPTools"]
		path = deps/AudioDSPTools
		url = https://github.com/sdatkinson/AudioDSPTools

[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json

[submodule "deps/ff_meters"]
	path = deps/ff_meters
	url = https://github.com/ffAudio/ff_meters
